

/* Hide all sidebar elements except on print pages */
 .sidebar-column,
 .page-sidebar,
 .web-sidebar,
 .sidebar,
 .layout-side-section,
 .desk-sidebar,
 .sidebar-item-container,
 .sidebar-section,
 .sidebar-toggle-btn,
 .standard-sidebar {
    display: none !important;
}

.page-title .sidebar-toggle-btn {
    display: none !important;
}

div[data-page-route="print"] .layout-side-section {
    display: block !important;
}